* {
  font-family: sans-serif;
  color: grey;
}

.parent {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  width: 500px;
  height: 400px;
  border: 3px solid gray;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
}

.item1 {
  background-color: pink;
}
.item2 {
  background-color: orange;
}
.item3 {
  background-color: greenyellow;
}
.item4 {
  background-color: lightblue;
}