p {
  margin-bottom: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/***********************  
************************/


.app__wrapper {
  margin-top: 4rem;
}

.completed {
  text-decoration: line-through;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-form {
  display: flex;
  
}