* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.form {
  margin: 0 auto;
  /* max-width: 900px; */
  position: relative;
  margin-top: 4rem;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
}

.option__container {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: 10rem; */
}

.option__choice-wrapper {
  flex-grow: 1;
  flex: 1;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem 2rem 2rem;
  margin: 5px;
  cursor: pointer;
}

.option__choice-wrapper.selected {
  background-color: deepskyblue;
  color: white;
}

.circle-select {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid lightgray;
  background-color: white;
  background-color: rgba(250, 235, 235, 1);
  z-index: 99;
  position: relative;
  top: -20px;
  transition: all 150ms ease-in-out;
}

.circle-select i {
  font-size: 1.6rem;
  position: relative;
  top: 30%;
  color: white;
  transition: all 150ms ease-in-out;
}

.option__choice-wrapper.selected .circle-select {
  border: 3px solid white;
}

.option__choice-wrapper.selected .circle-select i {
  color: deepskyblue;
}

.recommended {
  position: absolute;
  top: -2rem;
  z-index: 999;
  background-color: royalblue;
  padding: .8rem 1.4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 30px;
  opacity: 0;
  visibility: hidden;
  /* transition: all 100ms ease-in-out; */
}

.option__choice-wrapper.selected .recommended {
  opacity: 1;
  visibility: visible;
}

/* input[type="radio"]:checked  */